.Nav{
    display:flex;
    justify-content:space-between;
    background-color:  rgba(54, 54, 54,0.99);
}
.Logo, .Home, .Login{
    color: white !important;
}

.form{
    display: flex;
    flex-direction:column;
   
}

#name{
    margin-top: 20vh;
}

.input{
    width: 40%;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
}

.button{
    display: flex;
    justify-content:center;
    text-decoration: none !important;
    min-width: fit-content;
}
.button:hover{
    transform:scale(1.05)
}
